<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Технологии{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Здесь немного о том, что я знаю и чему научился:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Языки программирования:</b>
            <ul>
               <li>Python</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Веб и фреймворки:</b>
            <ul> 
                <li>Django</li>
                <li>HTML</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Ссылка на GIT-hub:</b>
            <div>
                <a href='https://github.com/Serhioth/'>Добро пожаловать!</a>
            </div>
  <article class="col-12 col-md-9">
    <p>Как видно - список небольшой, но я продолжаю усердно учиться. Пока среди моих достижений только этот проект и несколько простых скриптов для системного администрирования, но этот список будет расти, я обещаю. :)</p>
  </article>
</div>
{% endblock %}