{% extends "base.html" %}
{% block title %}title{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">       
          {% if is_edit %}
            Редактировать запись {{ post.id }}
          {% else %}
            Создание записи
          {% endif %}             
        </div>
        <div class="card-body">        
          <form method="post"
            action=
            {% if is_edit %}
              {% url 'posts:post_edit' post.id %}
            {% else %}
              {% url 'posts:post_create' %}
            {% endif %}
            enctype="multipart/form-data">
            {% csrf_token %}   
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                    <li><strong>{{ field.label }} - {{ error|escape }}</strong></li>
                {% endfor %}
              {% endfor %}
            {% endif %}
            <div class="form-group row my-3 p-3">
              <label title="{{ form.text.label }}" for="{{ form.text.id_for_group }}">
                Введите текст сообщения:               
                <span class="required text-danger" >*</span>                  
              </label>
              {{ form.text }}                               
            </div>            
            <div class="form-group row my-3 p-3">
              <label title="{{ form.group.label }}" for="{{ form.group.id_for_label }}">
                Выберите группу:              
              </label>
              {{ form.group }}
            </div>
            <div class="form-group row my-3 py-3">
              <label title="{{ form.image.label }}" for="{{ form.image.id_for_group }}">
                Добавьте изображение:            
              </label>
              {{ form.image }}
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                Сохранить
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}